#header{
 height : 157px;
 margin : 0;
 background : #fff;
}
#logo{
	position: absolute;
	display : none;
	height : 157px;
	width : 224px;
	background : url(img/timmir-logo.jpg) no-repeat center;
	padding : 0;
	border : 0;
	margin : 0;
}
#page {
 background : #fff url('img/timmir-watermark.jpg') no-repeat fixed center; 
}
#content li{
 list-style : url(img/tbullet.png);
}
#content li li{
 list-style : url(img/tbullet2.png);
}
